body{
    background: rgb(255,0,0);
background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(190,0,255,1) 50%, rgba(0,254,255,1) 100%);
    text-align:center;
    font-size:30;
}
img{
    width:300px;
    height:200px;
}
.racing{
    width:400px;
    height: 200px;
}
.carousel-inner p{
    margin-bottom: 15px;
    margin-top:15px;
    color:aqua;
    font-size:20px;
}
#mycarousel{
   background: rgb(242,63,251);
background: radial-gradient(circle, rgba(242,63,251,1) 0%, rgba(70,245,252,1) 100%);
}
img{
    transition:transform 0.2;
}
img:hover{
    transform: scale(1.1);
    transition-duration: 1.5s;
    border:1px;
    border-color: black;
    animation-duration: 1.2s;
    
    
}
